@font-face {
  font-family: 'proxima-nova';
  src:  url('fonts/proxima-nova.ttf');
}

@font-face {
  font-family: 'proxima-nova-light';
  src:  url('fonts/proxima-nova-light.otf');
}

@font-face {
  font-family: 'proxima-nova-semibold';
  src:  url('fonts/Proxima Nova Semibold.otf');
}

@font-face {
  font-family: 'metapro-book';
  src:  url('fonts/Metapro Book Opentype.otf');
}

@font-face {
  font-family: 'metapro-bold';
  src:  url('fonts/Metapro Bold Opentype.otf');
}

body {
	background-color: white;
}

.iframe {
	margin-left: 10px;
	margin-top: 90px;
	width: 545px;
	height: 560px;
	border-style: solid;
    border-width: 1px;
    border-color: red;

}

.container {
	padding-left: 35px;
}

h1 {
	font-family: arial;
	font-weight: bold;
	color: #333333;
	font-size: 28px;
}

h2 {
	font-family: proxima-nova-light;
	/*font-style: normal;
	font-weight: 400;*/
	font-size: 20px;
}

.box {
    width: 490px;
    height: 10px;
    background-color: #DDDDDD;
}

.business-opt {
	float: left;
	padding-left: 22px;
	padding-top: 20px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 509px;
  border-radius: 8px;
  position: relative;
  height: 7px;
  background-color: #E0E0E0; 
}
}


p.sub-title {
	font-family: metapro-book;
	font-size: 14px;
}

p.red-text {
	font-family: arial;
	color: #DF0523;
	font-size: 12px;
	margin-top: 0px;
}

p.sub-text {
	font-family: arial;
	color: #333333;
	font-size: 12px;
	margin-top: -10px;
}

p.results {
	font-family: metapro-book;
	font-size: 24px;
}

p.cost {
	font-family: metapro-book;
	font-size: 14px;
}

.slider-bar {
	position: absolute;
}

.current-cost {
	width: 507px;
	height: 95px;
	background-color: #E0E0E0;
}
